.mt {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 16px;
  padding: 0 3px;
  margin-right: 2px;
  
  &.mt-text {
	border-radius: 2px;
	
	span {
	  color: #FFF;
	  font-size: 12px;
	  line-height: 1;
	}
  }
  
  &.mt-image {
	line-height: 1;
	
	img {
	  position: relative;
	  top: 3px;
	  
	  height: 16px;
	}
  }
}
